.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background-color: white;
  color: blue;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

.nav {
  display: flex;
  gap: 25px;
}

.nav a {
  text-decoration: none;
  color: blue;
  font-size: 16px;
  position: relative;
  transition: 0.3s;
}

/* hover underline effect */
.nav a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  background: blue;
  left: 0;
  bottom: -5px;
  transition: 0.3s;
}

.nav a:hover::after {
  width: 100%;
}

.nav a:hover {
  opacity: 0.8;
}
.pitch{
    margin-left: 650px;
    color: green;
}
.img-pitch{
      margin-left: 230px;
      filter: brightness(50%);
}
.orqali{
   position: absolute ;
   color: rgb(255, 255, 255);
   font-size: 40px;
   width: 800px;
   top: 400px;
   left: 500px;
} 
.btn-sign{
  background-color: blue;
  color: white  ;
  border-style: none;
  border-radius: 5px;
  height: 35px;
  width: 120px;
}
.btn-sign:hover{
  color: #CCFF00;
}
.btn-sign:active{
  opacity: 70%;
}
.onclick-div{
  position: absolute;
  display: flex;
  background-color: blue;
  margin-left: 1070px;
  width: 350px;
  margin-top: 720px;
  height: 100%;
}
.inputs{
  display: flex;
  flex-direction: column;
  margin-left: 55px;
}
input{
  width: 250px;
  height: 35px;
  margin-top: 20px;
}
.X{
  margin-left: 10px;
  background-color: red;
  color: white;
  border-style: none;
  border-radius: 2px;
  margin-top: 10px;
}
.btn-otish{
  margin-top: 20px;
  background-color: rgb(19, 195, 19) ;
  border-style: none;
  color: white;
  border-radius: 3px;
  height: 30px;
  width: 100px;
  margin-left: 85px;
}
.btn-otish:active{
  opacity: 70%;
}
